<!doctype html>
<html>
 <head>
    <meta charset="utf-8">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style_mapadecarr.css">
    
    <title>Mapa de Carreira</title>
 </head>

    <body>
        <div class="lay-white">
            <div class="layout_center">

              <!--centro da tela-->
                <div class="upper_center">
                    <span class="txt_mapacarr">Mapa de Carreira</span>
                      <div class="espaco_carreira">
                        <nav class="nav_tabs">
                          <ul>
                            <li>
                              <input type="radio" id="tab1" class="rd_tab" name="tabs" checked>
                              <label for="tab1" class="tab_label">Opção 1</label>
                              <div class="tab-content">                             
                                  <div class="carreira">
                                    <div class="banner_carreira1">
                                      <img src="../images/hierarquia-de-cargos.png" width="430px" height="415px">
                                     
                                    </div>
                                    <div class="banner_carreira2">
                                      <span class="txt-nome_carreira"> Analista de WFM (Workforce Management)</span>
                                      <div class="caixa-de-texto">
                                        <p>Um analista WFM é responsável por coletar dados sobre a
                                           força de trabalho da empresa, analisando esses dados para 
                                           determinar tendências e criar planos e metas operacionais 
                                           para o negócio. Os analistas de WFM também procuram redundâncias
                                            na organização para encontrar maneiras de cortar custos e reduzir 
                                            orçamentos.
                                            Alguns analistas também trabalham como consultores que são trazidos 
                                            às organizações para trabalhos de curto prazo, para ajudar a desenvolver 
                                            estratégias de WFM, analisar dados ou corrigir inconsistências em um processo
                                             de WFM existente.</p>
                                      </div>
                                      <span class="txt-salario_carreira">Salário: R$3500,00</span>
                                    </div>
                                  </div>

                              </div>
                            </li>



                            <li>
                              <input type="radio" name="tabs" class="rd_tab" id="tab2">
                              <label for="tab2" class="tab_label">Opção 2</label>
                              <div class="tab-content">
                                <div class="carreira">
                                  <div class="banner_carreira1">
                                    <img src="../images/hierarquia-de-cargos.png" width="430px" height="415px">
                                   
                                  </div>
                                  <div class="banner_carreira2">
                                    <span class="txt-nome_carreira"> Desenvolvedor Full Stack</span>
                                    <div class="caixa-de-texto">
                                      <p> O termo Full Stack surgiu em 2010. Stack, palavra em inglês para “pilha”, 
                                        se refere às tecnologias utilizadas para a confecção de sistemas. Unida à Full, 
                                        descreve os programadores generalistas, que conseguem sozinhos desenvolver aplicações 
                                        não triviais completas.
                                        Chamados de dois-em-um, esse profissional precisa ter noção das diversas áreas de 
                                        conhecimento de sistemas e saber lidar bem com cada uma delas. As principais áreas,
                                         ou camadas, são: back-end, front-end, banco de dados, devops e mobile.</p>
                                    </div>
                                    <span class="txt-salario_carreira">Salário: R$5.000,00 até R$15.000,00.</span>
                                  </div>
                                </div>

                            </li>
                            
                            
                          </ul>
                        </nav>

                      </div>
                       
                  </div> 

               
            </div>
            <!--lado esquerdo da tela-->  
            <div class="bar_left_ye">
                  <div class="campo_ye"> 
                    <a class="anima_link link_inicio" href="dashboard.html">Inicio</a>
                    <a class="anima_link link_Mclasse" href="minha_classe.html">Minha Classe</a>
                    <a class="anima_link link_Prog" href="progresso.html">Progresso</a>
                    <a class="anima_link link_Carr" href="mapa_de_carreira.html">Mapa De Carreira</a>
                    <a class="anima_link link_Aprend" href="aprendizado.html">Aprendizado</a>
                    <a class="anima_link link_Config" href="configuracoes.html">Configurações</a>
                    <a class="anima_link link_Sair">Sair</a>
                </div> 
          </div>

              

    

                  <div class="space_bar-pesquisa">
                           <div id="divBusca">
                               <input type="text" id="txtBusca" placeholder="O que você quer aprender?  ">    
                          </div>
                              <div class="id-user">
                          
                              </div>
                  </div>
        </div>
    </body>

</html>