<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style_minhaclasse.css">
    <link       rel="stylesheet"       href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"    />
    <title>Minha Classe</title>
  
</head>

<body>

<div class="lay-white">
 <div class="sub_center">
    <div class="upper_center">
        <span class="txt_MinhaCla">Minha Classe</span>
        <div class="upper_gray"></div>
        
      
    </div>

    <div class="low_center"> 
        <span class="txt_aula">Aulas</span>
        <div class="white_barAulas" id="blue_minhaconta"> 
            <a class="anima_link" id="link_position">Prototipagem e Teste</a>    
        </div>
        <div class="white_barAulas" id="blue_notifi"> 
            <a class="anima_link" id="link_position">Prototipagem e Teste</a>         
        </div>
        <div class="white_barAulas" id="blue_acess">   
            <a class="anima_link" id="link_position">Prototipagem e Teste</a>        
        </div>
        <div class="white_barAulas" id="blue_person">    
            <a class="anima_link" id="link_position">Prototipagem e Teste</a>         
        </div>
        <div class="white_barAulas" id="blue_privac">     
            <a class="anima_link" id="link_position">Prototipagem e Teste</a>      
        </div>
    </div>
 </div>

 <div class="bar_left_ye">
    <div class="campo_ye"> 
      <a class="anima_link link_inicio" href="dashboard.html">Inicio</a>
      <a class="anima_link link_Mclasse" href="minha_classe.html">Minha Classe</a>
      <a class="anima_link link_Prog" href="progresso.html">Progresso</a>
      <a class="anima_link link_Carr" href="mapa_de_carreira.html">Mapa De Carreira</a>
      <a class="anima_link link_Aprend" href="aprendizado.html">Aprendizado</a>
      <a class="anima_link link_Config" href="configuracoes.html">Configurações</a>
      <a class="anima_link link_Sair">Sair</a>
    </div> 
  </div>
    <div class="bar_right_white">
      <div class="campo_data_calend">

        <div class="container">
            <div class="calendar">
              <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                  <h1></h1>
                  <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
              </div>
              <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="days"></div>
            </div>
          </div>
          <div class="calend_ativ">
              <span class="txt_calend">Calendário</span>
              <span class="txt_data">Sabado, 15 de Maio</span>
              <div class="hora oito"> 
                <a class="anima_link" id="link_posidata">8:00</a>    
             </div>
             <div class="hora oito_meia"> 
                <a class="anima_link" id="link_posidata">8:30</a>    
             </div>
             <div class="hora nove"> 
                <a class="anima_link" id="link_posidata">9:00</a>    
             </div>
             <div class="hora nove_meia"> 
                <a class="anima_link" id="link_posidata">9:30</a>    
             </div>
             <div class="hora dez"> 
                <a class="anima_link" id="link_posidata">10:00</a>    
             </div>
             <div class="hora dez_meia"> 
                <a class="anima_link" id="link_posidata">10:30</a>    
             </div>
             <div class="hora onze"> 
                <a class="anima_link" id="link_posidata">11:00</a>    
             </div>
          </div>
      </div>

    </div>
 <div class="space_bar-pesquisa">
      <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="O que você quer aprender?  ">    
      </div>
      <div class="id-user">
          
      </div>
 </div>
</div>



<script src="script.js"></script>
</body>

</html>