@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner
{
    width: 1200px;
    /*background-color: brown;*/
    margin: 0 auto;
}
header
{
    background-color: #E5E5E5;
    height: 70px;
}
.conteiner_header
{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.div_logo
{
    display: flex;
    width: 390px;
    height: 200px;
    /*background-color: brown;*/
    align-items: center;
    
    
    
}
.logo
{
    display: flex;
    justify-content:left;
    width: 240px;
    height: 240px;
    margin-top: -120px;
    
}
.nav_header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    height: 100%;
    margin-right: 50px;
    margin-top: 6px;

}
.nav_header a
{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 18px;
    
}
.conteiner_banner
{
    display: flex;
    position: relative;
}
.fundo_banner
{
    
    width: 100%;
    height: 500px;
    
}
.box_conteudo_banner
{
   position: absolute;
   top: 200px;
   right: 100px;
}
main h1
{
    color: black;
    font-size: 60px;
    font-family: 'Share Tech Mono', monospace ;
    width: 600px;
    font-style: bold;
}
.legenda
{
    color: black;
    font-family: 'Share Tech Mono', monospace ;
    font-size: 15px;
    top: -200px;
    width: 600px;
}
.segundo_titulo
{
    width: 250px;
    height: 112.03px;
    margin-left:180px;
    margin-top: 35px;
    font-size: 25px;
    font-weight: 500px;
    font-family: 'Roboto', sans-serif;
}
.cursos
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloco_display_ibm
{
    display: flex;
    width: 200px;
    height: 280px;
    margin-left: 80px;
    margin-right: 125px;
    background: #FFFFFF;
    border: 1px solid #000000;
    align-items: center;
    justify-content: space-between;
}
.bloco_display_nubank
{
    display: flex;
    width: 200px;
    height: 280px;
    margin-left: 180px;
    margin-right: 100px;
    background: #FFFFFF;
    border: 1px solid #000000;
    align-items: center;
    justify-content: space-between;
}
.bloco_display_amazon
{
    display: flex;
    width: 200px;
    height: 280px;
    margin-left: 80px;
    margin-right: 100px;
    background: #FFFFFF;
    border: 1px solid #000000;
    align-items: center;
    justify-content: space-between;
}
.curso_nubank
{
    width: 180px;
    height: 200px;
    margin-left: 10px;
    font-family: 'Patua One', cursive;
    font-size: 15px;
    
}
.div_img_nubank
{
    width: 200px;
    height: 100px;
    align-items: center;
}
.img_nubank
{

    width: 80px;
    height: 55px;
    margin-left: 10px;
    margin-top: 18px;

}
.curso_amazon
{
    width: 180px;
    height: 200px;
    margin-left: 10px;
    font-family: 'Patua One', cursive;
    font-size: 15px;

}
.div_img_amazon
{
    width: 200px;
    height: 100px;
    align-items: center;
}
.img_amazon
{
    width: 128px;
    height: 97px;
    margin-left: 10px;
    top: 1164px;
}
.curso_ibm
{
    width: 180px;
    height: 200px;
    margin-left: 10px;
    font-family: 'Patua One', cursive;
    font-size: 15px;
}
.div_img_ibm
{
    width: 200px;
    height: 100px;
    align-items: center;
}
.img_ibm
{
    width: 120px;
    height: 97px;
    margin-left: 10px;
    top: 1164px;
}
.curso_ibm p
{
   margin-top: 5px;
}
.noticias
{
    margin-top: -90px;
}
.banner_noticias 
{
    width: 100%;
    height: 500px;
    margin-top: 140px;
}
.bloco_noticias
{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 200px;
    
    
}
.bloco_a
{
    margin-top: -180px;
    margin-left: 200px;
    width: 500px;
    height: 90px;
    
    border: 1px solid #000000;

}
.bloco_b
{
    margin-top: -210px;
    margin-left: 140px;
    width: 500px;
    height: 90px;
    
    border: 1px solid #000000;
}
.bloco_c
{
    margin-top: -220px;
    margin-left: 200px;
    width: 500px;
    height: 90px;
   
    border: 1px solid #000000;

}
.noticias h4
{
    margin-top: 5px ;
    margin-left: 10px;
    

}
.noticias p
{
    margin-left: 10px ;
}


.Area_de_atuacao
{
    margin-bottom: 250px;
    margin-top: -200px;
    align-items: center;
}
.display_dois_titulo
{
    margin-top: 18px;
    margin-left: 100px;
    margin-bottom: -80px;
    width: 600px;
    height: 110px;
    
    

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}

.banner_3
{
   display: flex;
   width: 100%;
   height: 550px;

   margin-top: 20px;
   margin-bottom: 30px;
}
.blocos 
{
    display: flex;
    flex-direction:column;
    align-items:center;
    
    margin-top: -360px;
    margin-left: 320px;  
}


.blocos_2
{
    display: flex;
    margin-top: -295px;
    margin-left: 710px;
}

.bloco
{
    width: 166px;
    height: 128px;
    margin-bottom: 20px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
}

.bloco_img_um
{
    width: 68px;
    height: 60px;
    margin-left: 9px;
    margin-top: 10px;
}
.bloco_img_dois
{
    width: 50px;
    height: 48px;
    margin-left: 9px;
    margin-top: 10px;
}
.bloco_img_tres
{
    width: 45px;
    height: 42px;
    margin-left: 9px;
    margin-top: 10px;
}

.bloco h3
{
    margin-top: 18px;
    margin-left: 15px;
    align-items:baseline;
    

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}





.frase_bloco
{
    width: 600px;
    height: 150px;
    margin-left: 350px;
    margin-top: -110px;
    margin-bottom: 100px;
    
}
.frase_bloco h3
{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
}
.frase_bloco p
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}
.bloco_info
{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;

    margin-top: 30px;  
}

.info_bloco_1
{
    width: 250px;
    height: 267px;
    left: 134px;
    top: 4631px;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.bloco_info img
{
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
}

.bloco_info h4
{
    width: 206px;
    height: 54px;
    margin: 10px;
    

    font-family:'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;  
}

.bloco_info p
{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;  
    font-size: 15px;

    margin: 5px;
}

footer
{
    width: 100%;
    height: 470px;
    background-color: black;
    margin-top: 185px;

}
.conteudo_footer
{
    display: flex;
    justify-content: space-between;
    margin-left: 225px;
    margin-right: 180px;
    margin-top: -70px;
}
.conteudo_footer h4
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #F8F8F2;
}
footer img 
{
    width: 300px;
    height: 280px;
    margin-top: -60px;
    margin-left: 169px;
    
}
.info_coluna
{
    width: 100px;
    height: 150px;
    width: 170px;
}
.info_coluna_links
{
    margin-top: 50px;
}
.info_coluna_links a
{
    display: flex;
    width: 200px;
    height: 40px;
    left: 408px;
    justify-content: space-between;
    color: #969696;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}


/*.icones_footer  
{
    display: flex;
    margin-top: 200px;
    margin-left: 700px;
    margin-right: 50px;
    width: 50px;
    height: 30px;
   

}
.icone 
{
    justify-content: flex-start;
    
    width: 25px;
    height: 25px;
    background-color:  #EFCA08;

}
.circulo
{
    display: flex;
    width: 40px;
    height: 40px;
    margin-bottom: 230px;
    margin-left: 3px;
    border-radius: 50%;
    background-image: url("instagram.png");
    background-color: #EFCA08;
    
    
}/*
