* {
    box-sizing: border-box;
  }

body {
    background-color: #ffffff;
    overflow: scroll;    
}

.lay_white{
width: 100%;
height: 100%;
opacity: 1;
position: absolute;
top: 0px;
left: 0px;
overflow: hidden;
}
.sub_center{
    width: 56%;
    height: 95%;
    background: rgb(255,150,255);
    position: absolute;
    top: 35px;
    left: 290px;
    overflow: hidden;
}
.upper_center{
    width: 100%;
    height: 60px;
    background:  rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.txt_config{
    width: 200px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 15px;
    left: 2px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 32px;
    text-align: left;
}

.low_center{
    width: 100%;
    height: 700px;
    background:  rgb(255, 255, 255);
    position: absolute;
    top: 60px;
    left: 0px;
    overflow: hidden;
}
.blue_bar{
    width: 97%;
    height: 70px;
    background: rgb(35,209,206);
    border-radius: 10px;
    overflow: hidden;
}

#blue_minhaconta{
    position: relative;
    top: 30px;
    left: 15px;
}
#blue_notifi{
    position: relative;
    top: 60px;
    left: 15px;
}
#blue_acess{
    position: relative;
    top: 90px;
    left: 15px;
}

#blue_person{
    position: relative;
    top: 120px;
    left: 15px;
}

#blue_privac{
    position: relative;
    top: 150px;
    left: 15px;
}
/* Layout do lado esquerdo da tela (Barra amarela)*/

.bar_left_ye{
    width: 200px;
    height: 98%;
    position: absolute;
    top: 50px;
    left: 40px;
    overflow: hidden;
}
/*Campo amarelo*/
.campo_ye{
    width: 100%;
    height: 100%;
    background: rgb(255, 213, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 7px;
    overflow: hidden;
}
.anima_link{
    width: 80px;
    font-family: sans-serif;
    font-weight: Bold;
    font-size: 15px;
    text-align: left;
    color: #000000;
    line-height: 45px;
    white-space: nowrap;
    transition-property: color;
    transition-duration: 0.15s;
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
}
.link_inicio{
    position: absolute;
    top:100px;
    left:20px

}
.link_Mclasse{
    position: absolute;
    top: 160px;
    left:20px

}
.link_Prog{
    position: absolute;
    top:215px;
    left:20px

}
.link_Carr{
    position: absolute;
    top:270px;
    left:20px

}
.link_Aprend{
    position: absolute;
    top:325px;
    left:20px

}
.link_Config{
    position: absolute;
    top:380px;
    left:20px
}
.link_Sair{
    position: absolute;
    top:435px;
    left:20px
}
#link_position{
    left: 20px;
    top: 3px;
    position: relative;
}

.bar_right_white{
    width: 13%;
    height: 80%;
    background:rgb(255, 255, 255);
    position: absolute;
    top: 115px;
    right:100px;
    overflow: hidden;
    border-radius: 15px;
}

.space_bar-pesquisa{
    background: rgb(255, 255, 255);
    width: 29%;
    height: 9%;
    left: 64%;
  /*right:8%;*/
    top: 30px;
    position: absolute;
}

#divBusca{
    background-color:rgb(255,255,255);
    border:solid 1px;
    border-radius:15px;
    width:70%;
    height: 60%;
    position: absolute;
    top: 10px;
    left: 2px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    color: rgba(0,0,0,1);
    padding-left:5px;
    font-style:italic;
    font-size:16px;
    border:none;
    height:32px;
    width:260px;
  }
  .id-user{
    background-color:rgba(196,196,196,1);
    border:solid 1px;
    border-radius:20px;
    width:20%;
    right: 2px;
    height:90%;
    top: 2px;
    position: absolute;
  }


