<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pagina Inicial</title>
</head>
<body>
    
    <header>
      <div class="conteiner conteiner_header">
        <div class="div_logo"> <img class="logo" src="css/IMG-20210304-WA0009-removebg-preview.png" alt=""></div>
        <nav class="nav_header">
            <a href="">ínicio</a>
            <a href="">áreas</a>
            <a href="">sobre</a>
            <a href="">login</a>
            <a href="">cadastre-se</a>
        </nav>
      </div>
    </header>
    <main>
        <section class="conteiner_banner">
          <img class = "fundo_banner"src="css/Green Gold Traditional College Graduation Banner.png" alt="">
          <div class="box_conteudo_banner">
            <h1>Restlees learners change the world</h1>
          
            <span class="legenda">cursos 100% gratuitos disponiblizados pelas maiores empresas do Brasil</span>
          </div>

        </section>

        <section>

          <div class="segundo_titulo">
            <h3>Explore os Melhores Cursos</h3>
          </div>

          <div class="cursos">
            
            <div class="bloco_display_nubank">
              <div class=" curso_nubank ">
                <div class=" div_img_nubank "><img class ="img_nubank"src="css/nubank-logo-7-removebg-preview.png" alt=""></div>
                <h4>Fundações de ciência de dados</h4> 
                <span>Nubank</span>
                <p> Certificado profissional (9 cursos)</p>
              </div>
            </div>
            
            <div class="bloco_display_amazon">
              <div class=" curso_amazon">
                <div class="div_img_amazon"><img class="img_amazon" src="css/transferir-removebg-preview.png" alt=""></div>
                <h4>Fundações de ciência de dados</h4> 
                <span>Nubank</span>
                <p> Certificado profissional (9 cursos)</p>
              </div>
            </div>
         
            <div class="bloco_display_ibm">
              <div class=" curso_ibm">
                <div class="div_img_ibm"><img class="img_ibm" src="css/ibm-logo-vector-download-400x400-removebg-preview-removebg-preview.png" alt=""></div> 
                <h4>Fundações de ciência de dados</h4> 
                <span>Nubank</span>
                <p> Certificado profissional (9 cursos)</p>
            </div>
          </div>

        </section>

        <section class="noticias">
          <img class="banner_noticias" src="css/banner_2.png" alt="">
          
          <div class="bloco_noticias">
            
            
            <div class="bloco_a">

              <h4>Para Estudantes</h4>

              <p>Impulsione sua carreira, obtenha um diploma
              ou expanda seus conhecimentos em qualquer nível</p>

            </div>
            

            <div class="bloco_b">

              <h4>Para Estudantes</h4>

              <p>Impulsione sua carreira, obtenha um diploma
              ou expanda seus conhecimentos em qualquer nível</p>

            </div>

            <div class="bloco_c">

              <h4>Para Estudantes</h4>

              <p>Impulsione sua carreira, obtenha um diploma
              ou expanda seus conhecimentos em qualquer nível</p>

            </div>

          </div>
        </section>

        <section class="Area_de_atuacao">

          <div class="display_dois_titulo"><h3>Explore as Áreas de Atuação</h3></div>

          <div class="banner_3">
            
            <img src="css/Banner_3.png" alt="">
          </div>

          
          
          <div class="blocos">
            <div class="bloco">
              <img class = "bloco_img_um" src="css/computer.png" alt="">
            <h3>Tecnologia</h3>
            </div>

            <div class="bloco">
              <img class = "bloco_img_dois" src="css/people.png" alt="">
            <h3>Socias</h3>
            </div>

          </div>

          <div class="blocos_2 blocos">

            <div class="bloco">
              <img class = "bloco_img_dois" src="css/engineer.png" alt="">
              <h3>Engenharia</h3>
            </div>

            <div class="bloco">
              <img class = "bloco_img_um" src="css/stethoscope.png" alt="">
              <h3>Medicina</h3>
            </div>
            
          </div>
          

        </section>

        <section class = "sobre">

        <div class = " frase_bloco">
         <h3>Permitindo a Transformação</h3>
         <p>Lorem Ipsum is simply dummy text of the printing
            and typesetting industry.Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s
           when an unknown printer took a galley of type </p></div>

            <div class = "bloco_info">
    
              
                <div class = "info_bloco_1"><img src="css/experience.png" alt="">
                <h4>Experiência</h4>
                <p>Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry.Lorem Ipsum has been the
                  industry's standard dummy text ever </p></div>

                <div class="info_bloco_1"><img src="css/coffee-cup.png" alt="">
                <h4>Prático</h4>
                <p>Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry.Lorem Ipsum has been the
                  industry's standard dummy text ever </p></div>

                <div class="info_bloco_1"><img src="css/block.png" alt="">
                <h4>Aplicação</h4>
                <p>Lorem Ipsum is simply dummy text of the printing
                  and typesetting industry.Lorem Ipsum has been the
                  industry's standard dummy text ever </p></div>


            </div>
          
        </section>

        

    </main>
    <footer>

        <img src="css/Bauen__1_-removebg-preview.png" alt="">
        
        <div class = "conteudo_footer">

          <div class="info_coluna">
          <h4>Empresa</h4>
          <div class="info_coluna_links">
          <a href="">Blog</a>
          <a href="">Sobre</a>
          <a href="">Central de Ajuda</a>
          <a href="">Doações</a></div>
          </div>

          <div class="info_coluna">
          <h4>Informações</h4>
          <div class="info_coluna_links">
          <a href="">Quem Somos</a>
          <a href="">Afiliados</a>
          <a href="">Parcerias</a>
          <a href="">Notícias</a></div>
          </div>
          

          <div class="info_coluna">
          <h4>Termos Legais</h4>
          <div class="info_coluna_links">
          <a href="">Termos de Uso</a>
          <a href="">Política de Privacidade</a>
          <a href="">Política de Acessibilidade</a>
          <a href="">Contato</a></div>
          </div>

        </div>
    
        <!--<div class="icones_footer">

            <div class="circulo"><img class="icone" src="css/instagram.png" alt=""></div>
            <div class="circulo"><img class="icone" src="css/facebook.png" alt=""></div>
            <div class="circulo"><img class="icone" src="css/twitter.png" alt=""></div>
            <div class="circulo"><img class="icone" src="css/logotipo-do-google-glass.png" alt=""></div>
            <div class="circulo" img class="icone" src="css/youtube.png" alt="" ><img class="icone" src="css/youtube.png" alt=""></div>

        </div> -->
      

    </footer>
</body>
</html>